* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body {
  background-color: lightblue;
  margin: 20px;
}

section.toppage {
  background-color: darkblue;
  color: bisque;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
}

/* code referenced from 16-Stu_HTML-display lesson */
nav {
  display: inline-block;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

div.projects {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-around;
}

nav.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}