* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}

div.name {
  display: flex;
  background-color: darkgreen;
}

p {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

body {
  background-color: lightblue;
  margin: 20px;
}

/* Received code from AskBCS Learning Assistant (3 lines below) */
/* changed code from AskBCS with other information */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.toppage {
  background-color: darkblue color;
  color: bisque;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  /* Received code from AskBCS Learning Assistant (2 lines below) */
  justify-content: space-between;
  align-items: center;
}

/* code referenced from 16-Stu_HTML-display lesson */
.nav-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Received code from AskBCS Learning Assistant (3 lines below) */
nav ul {
  display: flex;
}

/* Received code from AskBCS Learning Assistant (3 lines below) */
div.nav li {
  margin-right: 20px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

div.projects {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-around;
}

nav.contact {
  display: flex;
  flex-direction: flex-start;
  align-items: space-between;
}

div.projects1 {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: darkblue;
  color: bisque;
  text-align: center;
}