* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

body {
  background-color: lightblue;
}

header.toppage {
  background-color: darkblue;
  color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}